<nav class="navbar navbar-expand-md flex-md-row justify-content-between navbar-light border-bottom border-primary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Blog</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/blog" (click)="isMenuCollapsed = true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog/posts" (click)="isMenuCollapsed = true">All posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>